
/* GameLevel */

.game-level_container {
  background-color: rgb(77, 184, 236);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
  position: relative;
  
}

.game-level_container .tutorial_task {
  margin: 0;
  margin-top: 60px;
}

.game-level_container .tutorial_numbers {
  margin-bottom: 90px;
}

.game-top-menu {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  color: black;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-evenly;
  padding-bottom: 8px;
}

.game-top-menu_item {
  text-align: center;
}

.game-top-menu_item :first-child {
  font-size: 7px;
  font-weight: 600;
}

.game-top-menu_item :last-child {
  font-size: 12px;
  font-weight: 900;
  display: block;
}

.level-points-bonus_value-container :last-child {
  display: inline;
}

.lavel-points-bonus_point {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
}

.level-points-bonus_value-container :first-child {
  background-color: black;
}

.timer-game {
  width: 34px;
}

.level-points {
  width: 38px;
}

.level-points-bonus {
  width: 69px;
}

/* Game cards */

.game-level_container .tutorial_numbers {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 145px;
  margin-left: 2000px;
}

.game-level_container .game-btn_item {
  margin-bottom: 15px;
}

.game-level_container .game-btn_item:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
}

.game-level_container .tutorial_task {
  padding: 0 20px;
  height: 98px;
  position: relative;
}

.game-level_container .tutorial_task .game-btn_item-inner {
  right: -2000px;
  position: absolute;
}

.game-btn_item-inner {
  display: block;
}

.game-level_container .tutorial_task p {
  min-width: 260px;
}

.answer-result {
  position: fixed;
  top: 34%;
}

.answer-result__wrong-result {
  display: none;
  background-image: url(img/5a774df5785f33895b4dd236d39afa0e.png);
  width: 130px;
  height: 130px;
}

.answer-result__true-result {
  display: none;
  background-image: url(img/e067d39d0a670ead5cfe54a935b1d3a7.png);
  width: 130px;
  height: 130px;
}

.game-level_container .tutorial_numbers .game-btn_item {
  width: 145px;
}

/* animation */
.animate-quick_rotate {
  animation: rotate .6s linear;
}

.animate-heart-beat {
  animation: heart-beat 0.4s ease-in alternate;
}

@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-blinker {
  opacity: 1;
  animation: blink 0.4s ease-in infinite alternate;
  animation-delay: 0.4s;
}

@keyframes blink {
  100% {
    opacity: 0.2;
  }
}

.animate-rotate {
  animation: rotate .6s linear infinite;
  animation-delay: .4s;
}

@keyframes rotate {
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.animate-scale {
  animation: scale .4s ease-in infinite alternate;
  animation-delay: .4s;
}

@keyframes scale {
  100% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
}