* {
  margin: 0;
  font-family: Montserrat, Open Sans,Helvetica Neue;
  font-size: 16px;
}

body {
  background-color: #f7f5fa;
  color: white;
}

.game-container {
  background-color: rgb(255, 255, 255);
  width: 722px;
  height: 573px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;
}

.game-container_container {
  display: none;
  width: 632px;
  height: 478px;
}

.game-btn_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-btn_item {
  width: 30%;
  border: none;
  cursor: pointer;
}

.game-btn_item-inner {
  line-height: 80px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: white;
}

.game-btn_disabled {
  opacity: .5;
}
