.results__about {
  margin-top: 70px;
}

.result__text-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.result__title {
  display: block;
  width: 190px;
  color: rgb(153, 153, 153);
}

.result__value {
  display: block;
  width: 130px;
  color: rgb(63, 63, 63);
  font-weight: 600;
}