.start-game-timer_container {
  background-color: rgb(23, 101, 139);
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.timer-text {
  font-family: Montserrat, apple-system, 'Segoe UI', Roboto;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}

.timer-counter {
  width: 100px;
  height: 100px;
  background-color: hsla(0,0%,100%,.3);
  font-family: Montserrat, apple-system, 'Segoe UI', Roboto;
  font-weight: 900;
  font-size: 48px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
}