/* TRAINING ---------------------------------------------- */
.training-header {
  height: 136px;
  background-image: linear-gradient(271deg,rgba(168,129,253,.53),#5900b1), url(img/dfa5695938b3bf438aa3e7e69eeea005.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px 4px 0 0;
}

.training-header > h3 {
  display: block;
  font-weight: 800;
  font-size: 36px;
}

.training-header > p {
  display: block;
  font-weight: 400;
  font-size: 18px;
}

.training-main {
  padding: 30px 99px 32px;
}

.training-main_direction {
  margin-bottom: 40px;
}

.training-main h4 {
  font-size: 21px;
  font-weight: 800;
  color: #8f4af9;
  margin-bottom: 30px;
  text-align: center;
}

.list-item {
  padding-left: 0;
}

.list-item .list-item_li {
  list-style: none;
  background-repeat: no-repeat;
  background-position: left 6px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.list-item > .list-item_li:first-child {
  background-image: url(img/128602f8e9250178e66479318c8b7908.svg);
  background-size: 25px;
}

.list-item > .list-item_li:nth-child(2) {
  background-image: url(img/8a0a2eef3ba69c64fa45f22294026c25.svg);
  background-size: 23px;
}

.list-item > .list-item_li:nth-child(3) {
  background-image: url(img/d781c1dd210d381e9ccab9d91c3f0a10.svg);
  background-size: 27px;
}

.list-item_title {
  line-height: 26px;
  font-weight: 800;
  color: #333;
  text-align: left;
}

.list-item_description {
  line-height: 20px;
  text-align: left;
  color: #333;
}

.btn_end-training {
  background-color: #6039aa;
  font-family: Open Sans,sans-serif;
  padding: 18px 60px;
  border: none;
  border-radius: 50px;
  color: white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn_end-training:hover {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
  background-color: rgb(128, 97, 187);
}